*{
	margin:0;
	padding:0;
	font-family: "微软雅黑";
}

header ul{
	list-style-type: none;
	float:right;
}
header ul li{
	display: inline-block;
	color:white;
	line-height: 42px;
	margin-left: 5px;
}
#main{
	background-color:#DEDEDE;
	width:1280px;
	margin:0 auto;
	padding:20px;
	box-sizing:border-box;
}
aside,article{
	background-color: #fff;
	margin-bottom:20px;
	padding:20px;
	box-shadow: 2px 2px 2px 2px #AAA;
}
article h2{
	font-size:20px;
	margin-top:10px;
}
article h3{
	font-size:16px;
	margin-top:10px;
	color:grey;	
}
#article-author{
	color:grey;	
	font-size: 14px;
	margin:10px 0;
}
article p{
	line-height: 2em;
	text-indent: 2em;
}
article ul{
	list-style-type:none;
	margin-left: 2em;
}
.pics{
	margin-top: 20px;
	margin-left: 40px;
}
.good_pic{
	border:1px solid #CBCBCB;
	margin-bottom: 10px;
	width:125px;
	height: 125px;
	box-sizing:border-box;
	text-align: center;

}
.good_pic img{
	width:100px;
	margin:8px auto;
}
.good_pic span{
	display: inline-block;
	margin-top:5px;
	font-size: 12px;
	color:#CBCBCB;
}
article ol{
	margin-left: 40px;
}
ol+p{
	text-indent: 0;
}
table{
	border-right: 1px solid #CACACA;
	border-bottom: 1px solid #CACACA;
	border-collapse:collapse;
	width:1200px;
}

table td,table th{
	text-align: left;
	border-left: 1px solid #CACACA;
	border-top: 1px solid #CACACA;	
	padding:3px 4px;
	font-size: 14px;
}
table th{
	background-color: #333;
	color:white;
}
tr:last-child{
	background-color: #CCC;
    
} 
aside h2{
	font-size: 16px;
	border-left: 3px solid #CCC;
	padding-left: 10px;
	line-height: 40px;
}
aside *{
	margin-top:20px;
}
form section{
	text-align: right;
	margin-right: 700px;
}
form label,form span{
	width:35%;
	float:left;
	text-align: right;
	margin-right: 10px;
}
select option{
	margin-left: 20px;
}
textarea{
	width:700px;
	height: 100px;
}
#submit{
	display: block;

	width:1179px;
	height: 40px;
	margin:0 auto;
	margin-top: 20px;
	background-color:#128FDC;
	border-radius: 10px;
	color:white;
	font-size: 19px;
	border:none;
}
#submit:hover{
	background-color:#FDC128;	
}
footer{
	text-align: center;
	background-color: black;
	height:50px;
	line-height: 50px;
	color:white;
}